#spoilerId {
    transition: 1s;
    position: relative;
    fill: #D2555A;
    position: relative;
    left: 100px;
    animation-name:spoiler;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-delay:1s;
    animation-direction: reverse;
}

@keyframes spoiler {
    0% {left: 0px;}
    50% {left: 20px;}
    100% {left: 0px;}
}


.crug {
    border-radius: 50px;
    background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    
    animation-name:box;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-delay:1s;
    animation-direction: alternate;

}

@keyframes box {
    0% {left: 0px;}
    50% {left: 10px;}
    100% {left: 0px;}
}