@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Raleway&family=Roboto&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding:0 5%;
    // width: 80%;
    // float: right;
}

header {
    margin-top: 50px;
    height: 50px;
    width: 100%;
    // background-color: red;
    hr {
        background-color: rgb(2, 2, 255);
        &:not([size]) {
            height: 5px;
        }
    }

    p {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: -10px;
        font-family: 'Roboto', sans-serif;
    }
}

.menuButton {
    position: relative;
    display: inline-block;
    bottom: 20px;
    right: 0px;
    cursor: pointer;
    img {
        height: 40px;
    }
}

main {
    // background-color: rgba(255, 0, 0, 0.034);
    width: 100%;
    .first_Cont{
        margin-top: 75px;
        margin-bottom: 20px;
        .text_first {
            // border: .5px solid blue;
            .lg_text_first {
                font-family: 'Montserrat', sans-serif;
                line-height:55px;
                font-size: 60px;
                font-weight: bolder;
                margin-bottom: 30px;
            }
            .main_text_first {
                width: 90%;
                font-size: 22px;
                font-weight: 470;
                color: rgb(143, 138, 138);
                .forMediaMainFirst {
                    font-size: 30px; 
                    font-weight: 550;
                }
            }
            button {
                margin-top: 10px;
                width: 300px;
                padding: 20px;
                font-size: 30px;
            }
        }
        .img_first {
            // border: .5px solid blue;
            img {
                border-radius: 5px;
                height: 620px;
                width: 900px;
                float: right;
                transition: 1s;
            }
        }
    }
    .second_Cont {
        margin-top: 75px;
        .secP {
            font-size: 35px;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
        }
        hr {
            width: 470px;
            &:not([size]) {
                background-color: rgb(2, 2, 255);
                height: 5px;
            } 
        }
        .text_second {
            border: 0;
        }
        .card {
            border:0;
            border-radius: 0;
        }
        .one_card {
            padding-top: 40px;
            padding-bottom:40px;
            padding-left: 5%;
            padding-right: 5%;
            border-right:.5px solid rgba(192, 192, 192, 0.5);
            border-bottom: .5px solid rgba(192, 192, 192, 0.5);
            .second_lg_text {
                font-size: 27px;
                font-weight:bold;
            }
            p {
                font-size: 22px;
            }
            img {
                z-index: 10;
                margin: auto 5%;
                transition: .5s;
                margin-bottom: 120px;
                &:hover { transform: scale(1.2);}
            }
            button {
                margin-top: 20px;
                height: 65px;
                width: 40%;
                font-size: 30px;
                position: relative;
            }
        }
        .two_card {
            padding-top: 40px;
            padding-bottom:40px;
            border-left:.5px solid rgba(192, 192, 192, 0.5);
            border-bottom: .5px solid rgba(192, 192, 192, 0.5);
            padding-left: 5%;
            padding-right: 5%;
            .second_lg_text {
                font-size: 20px;
                font-weight:bold;
            }
            p {
                font-size: 22px;
            }
            img {
                z-index: 10;
                width: 55%;
                margin: auto 25%;
                transition: .5s;
                margin-bottom: 120px;
                &:hover { transform: scale(1.2);}
            }
            .second_lg_text {
                font-size: 27px;
            }
            button {
                margin-top: 20px;
                height: 65px;
                width: 40%;
                font-size: 30px;
            }
        }

        .one_card_two {
            border-bottom:0;
            border-top: .5px solid rgba(192, 192, 192, 0.5);
        }
        .two_card_two {
            border-bottom:0;  
            border-top: .5px solid rgba(192, 192, 192, 0.5); 
        }
        .one_card_three {
            border-bottom:0;  
            border-top: .5px solid rgba(192, 192, 192, 0.5); 
        }
        .two_card_three {
            border-bottom:0;  
            border-top: .5px solid rgba(192, 192, 192, 0.5);
        }
    }


    .news {
        justify-content: space-around;
        margin-top: 100px;
        margin-bottom: 100px;
        .block {
            margin-bottom: 50px;
            .big_word {
                margin-top: 30px;
                font-size: 27px;
                font-weight: bold;
            }
            .small_word {
                font-size: 20px;   
            }
            button {
                margin-top: 20px;
                font-size: 25px;
                width: 100%;
                transition: .3s;
            }
            img {
                border-radius: 15px;
                transition: .2s;
                &:hover {
                    box-shadow:0px 0px 11px 3px rgba(0,0,0,0.33);
                    -webkit-box-shadow:0px 0px 11px 3px rgba(0,0,0,0.33);
                    -moz-box-shadow:0px 0px 11px 3px rgba(0,0,0,0.33);
                }
            }
        }
    }
    

}


.footer_block {
    margin-bottom: 50px;
    .footer_text {
        font-size: 35px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }
    .hrNum {
        width: 220px;
        &:not([size]) {
            background-color: rgb(2, 2, 255);
            height: 5px;
        } 
    }
    .block_footer {
        margin-top: 100px;
        justify-content: space-between;
        .block_last {
            img {
                width: 65px;
                height: 55px;
                margin-right: 20px;
                margin-top: 5%;
            }
            .last_main_words {
                font-size: 27px;
                font-weight: bold;
            }
            .last_main_words_two {
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
}



.menu {

    background-color: rgb(245, 243, 243);
    position: absolute;
    top: 0;
    left: -1000px;
    height: 4850px;
    width: 20%;
    .search_block {
        width: 100%;
        height: 100px;
        padding: 25px 10% 0 10%;
        background-color: rgb(230, 227, 227);
        input {
            width: 100%;
            font-size: 20px;
        }
    }
    .div {
        padding-left: 10%;
        padding-right: 10%;

        .d-flex {
            flex-direction: column;
            .button {
                font-size: 20px;
                margin-top: 10px;
                text-align: left;
                font-family: 'Raleway', sans-serif;
                padding: 0;
                &:hover {
                    color: blue;
                }
            }
            .one {
                font-size: 30px;
                font-weight: bold;
                border: 0;
                margin-bottom: -20px;
            }
            .one_hr {
                width: 23%;
                &:not([size]) {
                    background-color: rgb(2, 2, 255);
                    height: 3px;
                    margin-bottom: 50px;
                } 
            }
            .Menu-Info {
                margin-top: 50px;
                font-size: 25px;
                font-weight: bold;
            }
            .hrNum {
                width: 60%;
                &:not([size]) {
                    background-color: rgb(2, 2, 255);
                    height: 5px;
                } 
            }
            img {
                margin-top: 50px;
                width: 100%;
                border-radius: 15px;
                transition: .4s;
                &:hover { transform: scale(1.1);}
                
            }
            .afterImg {
                text-align: center;
                margin-top: 15px;
                font-size: 20px;
            }
            .bttonTwo {
                margin-bottom: 100px;
                margin-top: 20px;
                border-radius: 5px;
                font-size: 20px;
            }
            .hrNumTwo {
                width: 110px;
                &:not([size]) {
                    background-color: rgb(2, 2, 255);
                    height: 5px;
                } 
            }
            .helpMe {
                font-size: 20px;
            }
            .twoFlex {
                img {
                    width: 50px;
                    height: 50px;
                    margin-top: 0px;
                    transition: .9s;
                    &:hover { transform: rotate(360deg); }
                    
                }
                p {
                    margin-left: 50px;
                    font-size: 25px;
                }
            }
            .copySave {
                font-size: 20px;
                margin-top: 100px;
                text-align: center;
            }
        }
    }
}


@media (min-width:320px) and (max-width:540px) {

    header p {
        font-size: 20px;
        margin-left: 10px;
    }

    body {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    main {
        width: 100%;
        .first_Cont {
            margin-left: 1%;
            padding: 0;
            .text_first {
                .lg_text_first {
                    font-size: 25px;
                    line-height: 40px;
                    text-align: center;
                }
                .main_text_first {
                    width: 100%;
                    font-size: 10px;
                    text-align: center;
                    .forMediaMainFirst {
                        font-size: 15px;
                    }
                }
                button {
                    border-radius: 15px;
                    padding-bottom: 40px;
                    height: 30px;
                    width: 100%;
                    font-size: 15px;
                }

            }
            .img_first {
                .forMenu {
                    position: relative;
                    bottom: 90px;
                    border-radius: 15px;
                    margin-top: -30px;
                    width: 100%;
                    height: 250px;
                }
            }
            .btnFirst {
                position: relative;
                top: 265px;
            }
        }
        .second_Cont {
            .secP {
                font-size: 20px;
                text-align: center;
            }
            hr {
                width: 100%;
                &:not([size]) {
                    background-color: rgb(2, 2, 255);
                    height: 5px;
                } 
            }
            .text_second {
                .one_card {
                    p {
                        font-size: 15px;
                    }
                    button {
                        font-size: 15px;
                        width: 100%;
                        height: 30px;
                        padding: 0;
                    }
                }
                .two_card {
                    p {
                        font-size: 15px;
                    }
                    button {
                        font-size: 15px;
                        width: 100%;
                        height: 30px;
                        padding: 0;
                    }
                }
            }
        }
        .news {
            .block {
                .big_word {
                    font-size: 15px;
                    text-align: center;
                }
                .small_word {
                    font-size: 13px;
                }
                .btn {
                    font-size: 13px;
                }
            }
        }
        .footer_block {
            .footer_text {
                text-align: center;
                font-size: 20px;
            }
            .hrNum {
                width: 50%;
                margin-left: 25%;
            }
            .block_footer {
                .block_last {
                    .imgOneLast {
                        width: 15%;
                        height: 40px;
                    }
                    .imgTwoLast {
                        width: 50px;
                        height: 50px;
                    }
                    .last_main_words_two {
                        font-size: 13px;
                    }

                    .last_main_words {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .menu {
        display: none;
    }
    .menuButton {
        display: none;
    }
}